.dashboard-main {
  .dashboard-container-contact {
    width: 100%;
    margin: auto;
    .responses {
      width: 100%;
      margin: auto;
      padding: 0 !important;
      margin: 0 !important;
      .response-name,
      .response-contact,
      .response-purpose,
      .response-company,
      .response-quantity,
      .response-details {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2%;
        padding-bottom: 2%;
        margin: 0;
      }
      .line-main-head {
        color: rgb(80, 73, 73);
        width: 90%;
        margin: auto;
      }
      .about-response {
        width: 100%;
        margin: auto;
        .about-response-name-outer,
        .about-response-contact-outer,
        .about-response-purpose-outer,
        .about-response-contact-outer {
          text-align: start;
          margin: 0;
        }

        .about-response-name,
        .about-response-contact,
        .about-response-purpose,
        .about-response-company,
        .about-response-quantity,
        .about-response-details {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px 0;
        }
        .about-response-name,
        .about-response-details {
          .view-butt {
            background-color: #f1f3fc;
            width: 50%;
            padding: 2%;

            border: 1px black solid;
            border-radius: 10px;
            box-shadow: 5px 10px 10px rgba(128, 128, 128, 0.496);
          }
        }
      }
      .line-main {
        color: gray;
        width: 85%;
        margin: auto;
      }
    }
  }
}
